#scores {
    font-size: 25px;
    margin-left: 10px;
}

#timer {
    margin-right: 50px;
}

.time {
    font-size: 25px;
}

.scores {
    margin-top: 150px;
    width: 500px;
}

.back {
    margin-left: 450px;
    margin-top: 150px;
}